* {
  font-family: 'Noto Sans KR', sans-serif;
}


.wrap {
  width: 1900px;
  margin: 0 auto;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}


/* 해더 */

/* topmenu */
.topmenu {
  text-align: center;
  line-height: 30px;
  height: 30px;
  justify-content: flex-end;
  background: #0054D1;
  padding-right: 48px;
}

.topmenu>ul {
  display: flex;
  justify-content: flex-end;
}

.topmenu>ul>li {
  font-size: 12px;
  margin-left: 20px;
}

.topmenu>ul>li>a {
  text-decoration: none;
  color: white;
}

/* nav */

.menu {
  display: flex;
  height: 80px;
  line-height: 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;

}

.menu .logo {
  padding-top: 20px;
}

.menu>ul {
  list-style: none;
  display: flex;
}

.menu>ul>li {
  margin-left: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  width: 110px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.menu>ul>li>a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;


}

.menu>ul>li:hover {
  border-bottom: 2px solid blue;
  box-sizing: border-box;

}

.menu>ul>li:hover .sub {
  display: block;
}

.menu>ul>li .sub {
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  width: 110px;
  border-bottom: 3px solid blue;

  display: none;
}

.menu>ul>li .sub>li a {
  text-decoration: none;
  color: black;

}

.menu>ul>li .sub>li:hover {
  font-weight: 700;

}

/* section */
section {
  background: url(../img/reservation_bg.png);
  height: 1180px;
  font-family: 'Noto Sans KR', sans-serif;
}

section >p{
  padding-top: 50px;
  text-align: center;
}

section>.title {
  padding-top: 40px;
  box-sizing: border-box;
  height: 119px;
  border-bottom: 3px solid #f2f2f2;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 40px;
  color: #003D7C;
}

.agree > p {
  height: 99px;
  font-size: 30px;
  font-weight: 700;
  line-height: 100px;
  font-family: 'Noto Sans KR', sans-serif;
}

.agree .text > ul {
  height: 170px;
  border: 1px solid gray;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px 25px;
  box-sizing: border-box;
}

.agree .text>ul>li {
  font-size: 15px;
}

.agree .text>ul>li:nth-child(4){
  color: #003D7C;
  padding-left: 30px;
  font-weight: 700;
  padding-top: 20px;
}

.agree .text>ul>li>span {
  color: #0054D1;
  font-size: 10px;
}

.container>ul {
  display: flex;
  justify-content: space-between;

}

/* table */
.table{
  margin-top: 78px;
}

table th{
  width: 300px;
  height: 100px;
  background: #FAFAFA;
  border: 1px solid #707070;
  vertical-align: middle;
  font-weight: 700;
  font-size: 20px;
}

table td{
  width:900px;
  height: 100px;
  border: 1px solid #707070;
  vertical-align: middle;
  background-color: white;
}

table td input{
  text-align: center;
  height: 30px;
  background: #e5f2f8;
  border: 1px solid #dadada;
}


table td input:nth-child(1){
  margin-left: 50px;
}



.bottom {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}

.btm {
  width: 580px;
  height: 50px;
  background: #003D7C;
  text-align: center;
  line-height: 50px;
}

.btm>a {
  color: white;
  text-decoration: none;
}

/* 푸터 */

.bg{
  background: #F5F5F5;
  font-family: 'Noto Sans KR', sans-serif;
}

.footer {

  line-height: 30px;
  height: 200px;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.footer ul {
  font-weight: bold;
  display: flex;
  list-style: none;
}

.footer ul li {
  margin-right: 20px;
  margin-bottom: 30px;
}

.footer ul> li >a{
  text-decoration: none;
  color: black;
}

.footer .f0 {
  display: flex;
}

.footer .f3 {
  margin-bottom: 20px;
  width: 50%;
  margin: 0;
}

.footer .f4 {
  font-weight: bold;
  margin-bottom: 20px;
  width: 15%;
  margin-left: 20px;
}

.footer .f5 {
  margin-left: 200px;
  width: 45%;
  margin: 0;
}

.footer .f5 .f5-1 {
  color: black;
  font-weight: bold;
}

.footer .f5 .f5-2 {
  color: #D66190;
  font-weight: bold;
}