* {
  font-family: 'Noto Sans KR', sans-serif;
}


.wrap {
  width: 1900px;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}


/* 해더 */

/* topmenu */
.topmenu {
  text-align: center;
  line-height: 30px;
  height: 30px;
  justify-content: flex-end;
  background: #0054D1;
  padding-right: 48px;
}

.topmenu>ul {
  display: flex;
  justify-content: flex-end;
}

.topmenu>ul>li {
  font-size: 12px;
  margin-left: 20px;
}

.topmenu>ul>li>a {
  text-decoration: none;
  color: white;
}

/* nav */

.menu {
  display: flex;
  height: 80px;
  line-height: 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;

}

.menu .logo {
  padding-top: 20px;
}

.menu>ul {
  list-style: none;
  display: flex;
}

.menu>ul>li {
  margin-left: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  width: 110px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.menu>ul>li>a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;


}

.menu>ul>li:hover {
  border-bottom: 2px solid blue;
  box-sizing: border-box;

}

.menu>ul>li:hover .sub {
  display: block;
}

.menu>ul>li .sub {
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  width: 110px;
  border-bottom: 3px solid blue;

  display: none;
}

.menu>ul>li .sub>li a {
  text-decoration: none;
  color: black;

}

.menu>ul>li .sub>li:hover {
  font-weight: 700;

}

section {
  background: url(../img/bg.png);
  height: auto;
  font-family: 'Noto Sans KR', sans-serif;
}

section .title {
  box-sizing: border-box;
  height: 250px;
  text-align: center;
  color: white;
  font-weight: 900;
}

section .title>h1 {
  font-size: 35px;
  padding-top: 45px;
  padding-bottom: 45px;
  font-weight: 700;
}

section .title>p {
  padding-bottom: 25px;
  font-weight: 700;
}

section .title>p>a {
  text-decoration: none;
  color: white;
}




#container {
  width: 1200px;
  margin: 0 auto;
}

.tab {
  list-style: none;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.tab>li {
  border-bottom: 2px solid rgb(228, 228, 228);
  width: 400px;
  float: left;
  box-sizing: border-box;
}

.tab>li>a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 0px;
  font-size: 17px;
  transition: 0.3s;
  border-bottom: 0;
}

.tabcontent {
  margin: 0 auto;
  display: none;
  padding: 6px 12px;
  color: black;
}

ul.tab li.current {

  background: #F5F5F5;
  border-bottom: 3px solid #FFA200;
  box-sizing: border-box;
  font-weight: 700;
}

ul.tab li.current a {
  color: black;

}

.tabcontent.current {
  display: block;
}


#tab1 {
  height: 3271px;
  margin: 0 auto;
  background: url(../img/contnets.png);
  position: relative;
}


#tab1 .box {
  position: absolute;
  left: 370px;
  top: 650px;
  display: flex;

}

#tab2{
  height: 600px;
  margin: 0 auto;
}

#tab3{
  width: 1900px;
  margin: 0 auto;
  height: auto;
}

.silder{
  margin: 0 auto;
}

.slick-dots{
  padding-top: 200px;
}


.ui-state-active {
  height: 50px;
  cursor: pointer;
  border-radius: 50px 50px 0 0;
  transition: .3s;
}

#accordion>h3 {
  margin: 10px 0;
  background: #ffbf4f;
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

#accordion .o {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#accordion .text {

  font-size: 15px;
  line-height: 30px;

}

#accordion .text>h4 {
  font-weight: 700;
  margin-bottom: 20px;
}

.item2 {
  padding: 15px 0;
}

.item2>p {
  font-size: 15px;
  margin: 20px 0 20px 20px;
}

.item2>p>span {
  color: #0054D1;
  margin-right: 10px;
  font-weight: 700;
}

table tr {
  width: 1200px;
  border-bottom: 1px solid #d1d1d1;


}

table tr:nth-child(1) td {
  background: #d5d5d5;
}

table .t {
  font-weight: 700;
  background: #F8F8F8;
  height: 60px;
  line-height: 60px;
  align-items: center;
  vertical-align: middle;
}

table td {
  background: #fdfdfd;
  width: 400px;
  text-align: center;

}

table td ul li {
  text-align: left;
  font-size: 15px;
  margin: 10px 0;
}

table td ul li>span {
  color: #0044aa;
  font-size: 20px;
  font-weight: 700;
}


/* 푸터 */

.bg {
  background: #F5F5F5;
  font-family: 'Noto Sans KR', sans-serif;
}


.footer {
  line-height: 30px;
  height: 200px;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.footer ul {
  font-weight: bold;
  display: flex;
  list-style: none;
}

.footer ul li {
  margin-right: 20px;
  margin-bottom: 30px;
}

.footer ul>li>a {
  text-decoration: none;
  color: black;
}

.footer .f0 {
  display: flex;
}

.footer .f3 {
  margin-bottom: 20px;
  width: 50%;
  margin: 0;
}

.footer .f4 {
  font-weight: bold;
  margin-bottom: 20px;
  width: 15%;
  margin-left: 20px;
}

.footer .f5 {
  margin-left: 200px;
  width: 45%;
  margin: 0;
}

.footer .f5 .f5-1 {
  color: black;
  font-weight: bold;
}

.footer .f5 .f5-2 {
  color: #D66190;
  font-weight: bold;
}

#top {
  position: fixed;
  right: 100px;
  bottom: 300px;
  opacity: 0;
  transition: opacity 300ms;
  cursor: pointer;
  text-align: center;
  z-index: 9;
}