* {
  font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
  margin: 0 auto;
  width: 1900px;
}


.inner{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 auto;
  width: 1200px;
}

/* 해더 */
header {
  margin: 0 auto;
  width: 1900px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* topmenu */

.topmenu_bg{
  text-decoration: none;
  height: 30px;
  background-color: #F5F5F5;
}

.topmenu{
  line-height: 30px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.topmenu li {
  margin-left: 20px;
}

.topmenu>li> a{
  font-weight: 300;
  text-decoration: none;
  color: #726e68;
  font-family: 'Noto Sans KR', sans-serif;
}


/* search */
.topnav{
  height: 90px;
  line-height: 90px;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

  
}
.search input{
  border: none;
}

.search{
  margin-top: 30px;
  border-bottom: 2px solid black;
  align-items: center;
  height: 30px;
  display: flex;
}




/* nav */

.nav {
  height: 40px;
  display: flex;
}

.nav>ul>li>a{
  color: black;
  text-decoration: none;
}

.nav>ul>li>a>span{
  font-size: 15px;
}

.nav ul {
  display: flex;
  font-size: 20px;
}

.nav ul li {
  margin-right: 80px;
  padding-top: 8px;
  font-weight: bold;
  position: relative;
}

/* 카테고리 호버 */
.nav>ul>li .sub{
  position: absolute;
  top: 40px;
  z-index: 1;
  background-color: #D3D2CE;
  display: flex;
  flex-direction: column;
  width: 150px;
  padding-left: 10px;
  display: none;
}

.nav ul li:nth-child(1):hover >.sub{
  display: block;
}


.nav>ul>li .sub>li{
  height: 30px;
  width: 130px;
}

.nav>ul>li .sub>li>a:hover{
  color: white;
}
.nav>ul>li .sub>li:hover{
  border-bottom: 2px solid white;
}

.nav>ul>li .sub>li>a{
  text-decoration: none;
  color: #707070;
  font-size: 15px;

}

/* 견적문의 호버 */
.nav>ul>li .sub2{
  height: 250px;
  border-radius: 0 0 43px 43px;
  position: absolute;
  top: 40px;
  left: -5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 84px;
  padding-left: 10px;
  display: none;
}

.nav>ul>li .sub2>li>a>img:hover{
  border: 1px solid #707070;
  border-radius: 35px;
}

.nav ul li:nth-child(6):hover >.sub2{
  display: block;
}



/* main */
.main{
  z-index: 0;
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  font-weight: 900;
  po
}

.text{
  position: absolute;
  top: 136px;
  left: 380px;
}

.text>p:nth-child(1){
  color: #FF6868;
  font-size: 80px;
}

.text>p:nth-child(2){
  color: black;
  font-size: 80px;
  font-size: 30px;
  margin-top: 30px;
}
.text>p:nth-child(3){
  color: black;
  font-weight: 900;
  font-size: 45px;
  margin-top: 30px;
}

.text .btn{
  font-size: 25px;
  margin-top: 80px;
}

.text .btn a{
  text-decoration: none;
  color: #726e68;
}

/* tiin_bar 고정바 */
.thin_bar{
  width: 96px;
  height: 480px;
  background: #F8F8F8;
  position: fixed;
  top: 200px;
  left: 1555px;
  box-shadow: 2px 6px 10px rgba(128, 128, 128, 0.445);
  z-index: 5;

}

.thin_bar>ul{

  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0px 0;
}
.thin_bar>ul>li:nth-child(1) img{
  border-radius: 10px 10px 0px 0;
}

.thin_bar>ul>li:nth-child(8) img{
  border-radius: 0 0 10px 10px;
}


/* best */

.best{
  height: 900px;
}

.best .title{
  font-weight: 900;
  height: 232px;
  text-align: center;
  position: relative;
}

.best .title>p:nth-child(1){
  margin: 0 auto;
  font-size: 36px;
  padding-top: 70px;
  width: 170px;
  border-bottom: 3px solid gray;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.best .title>img{
  position: absolute;
  top:140px;
  right: 30px;
}

/* best icon */
.best .icon>ul{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 100px;
}
.best .icon>ul>li{
  width: 100px;
  height: 100px;
  border: 1px solid white;
  box-sizing: border-box;
}

.best .icon>ul>li:hover{
  border: 1px solid #726e68;
  box-sizing: border-box;
}

/* best items */
.item{
  display: flex;
  justify-content: space-between;
}
.item .t1,
.item .t2,
.item .t3,
.item .t4{
  position: relative;
}

.item .object a>p{
  position: absolute;
  bottom: 2px;
  right: 1px;
  width: 60px;
  height: 60px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 23px;
}


.item .object_1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* best hover */
.item .t1 .hover,
.item .t2 .hover,
.item .t3 .hover,
.item .t4 .hover
{
  position: absolute;
  top: 0;
  display: none;
}


.item .t1:hover .hover,
.item .t2:hover .hover,
.item .t3:hover .hover,
.item .t4:hover .hover{
  display: block;
}





.item .object .hover a:nth-child(2){
  position: absolute;
  top: 70px;
  right: 50px;
}

.item .object .hover a:nth-child(3){
  position: absolute;
  top: 120px;
  right: 50px;
}

.item .object .hover a:nth-child(4){
  position: absolute;
  top: 170px;
  right: 50px;
}



/* bener */

.baener{
  margin-top: 100px;
  height: 210px;
}


/* new */
.new{
  height: 645px;
  border-bottom: 2px solid #726e68;
}

.new .title{
  font-weight: 900;
  height: 232px;
  text-align: center;
  position: relative;
}

.new .title>p:nth-child(1){
  margin: 0 auto;
  font-size: 36px;
  padding-top: 70px;
  width: 170px;
  border-bottom: 3px solid gray;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.new .title>img{
  position: absolute;
  top:140px;
  right: 30px;
}

/* new_contents */

.new .content>ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.new .content>ul>li>p:nth-child(2){
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 10px;
}

.new .content>ul>li>p:nth-child(3){
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 10px;
}

.new .content>ul>li>p:nth-child(4){
  color: red;
  font-weight: 700px;
  margin-bottom: 10px;
}

.new .content>ul>li p:nth-child(4) span{
  color: black;
  font-weight: 700px;
  text-decoration: line-through;

}

/* promotion  */
.promotion{
  height: 667px;
  position: relative;
}

.promotion .bg{
  height: 227px;
  position: absolute;
  bottom: 0;
  width: 1900px;
  background: #E3E2DE;
  z-index: 0;
}

.promotion .title{
  font-weight: 900;
  height: 232px;
  text-align: center;
  position: relative;
}

.promotion .title>p:nth-child(1){
  margin: 0 auto;
  font-size: 36px;
  padding-top: 70px;
  width: 300px;
  border-bottom: 3px solid gray;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.promotion .title>img{
  position: absolute;
  top:140px;
  right: 30px;
}

.promotion ul{
  display: flex;
  position: absolute;
  z-index: 1;
  left: 350px;

}

/* news  */

.news{
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.news .content>ul>li>p{
  text-align: left;
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-left: 20px;
  font-weight: 900;
  color: black;
}

.news .content ul{
  position: relative;
  width: 600px;
}

.news .content>ul>li{
  width: 500px;
  height: 80px;
  border: 3px solid #E3E2DE;
  display: inline-flex;
  align-items: center;
  line-height: 30px;
}
.news .content>ul>li>img{
  width: 90;
  height: 60px;
  margin-left: 20px;
}

.news .content>ul>li>p>span{
  font-size: 12px;
  font-weight: 400;
}
.news .content ul li:nth-child(1){
  top: 20px;
  right: 0px;
  position: absolute;
}

.news .content ul li:nth-child(2){
  top: 130px;
  left: 40px;
  position: absolute;
}

.news .content ul li:nth-child(3){
  top: 240px;
  right: 0px;
  position: absolute;
}

.news .content ul li:nth-child(4){
  top:350px;
  left: 40px;
  position: absolute;
}


/* 고객편의사항 */

.customer{
  font-family: 'Noto Sans KR', sans-serif;
  height: 450px;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.customer a{
  text-decoration: none;
  color: black;
}

.customer.content{
  width: 400px;
}

.customer .content .title{
  display: flex;
  line-height: 30px;
  color: #726e68;
  width: 350px;
  border-bottom: 2px solid #DEDEDE;
  padding-bottom: 10px;
  margin-top: 30px;
}

.customer .content .title>p{
  font-size: 15px;
  font-weight: 700;
  padding-left: 15px;
}

.customer .content:nth-child(1)>p{
  margin-top: 20px;
  font-size: 12px;
}

/* 계좌안내 */

.customer .content:nth-child(2)>p{
  margin-top: 20px;
  font-size: 12px;
}
.customer .content:nth-child(2) span{
  display: inline-block;
  padding-top: 20px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 900;
}

/*  카탈로그*/

.input_box{
  margin-top: 20px;
}
.reset_button{
  background-color: #726e68;
  color: white;
}
.customer .content:nth-child(3)>p{
  margin-top: 20px;
  font-size: 12px;
}

/* list */
.list{
  border-top: 3px solid #726e68;
}

.list ul{
  display: flex;
  height: 60px;
  line-height: 60px;
}

.list ul li{
  margin-right: 50px;
}

.list ul li a{
  text-decoration: none;
  color: #726e68;
  font-weight: 400;
}


/* footer */

footer{
  background: #493729;
  height: 150px;

}
footer > P{
  text-align: center;
  color: #C8C8Ce;
}

footer .content{
  display: flex;
  align-items: center;
  line-height: 20px;
  padding-top: 30px;
}

.footer_text p{
  color: #C8C8Ce;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
  
}
