

header {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  background: cornflowerblue;

}

header .logo {
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  background: chartreuse;
}


header .nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background: chocolate;
}

header .nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  font-weight: 700;
}

header .nav > ul > li > a {
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  
}



.bg .main {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 auto;
}

.slider{
  width: 1920px;
  overflow: hidden;
}

.slider div > img{
  max-width: 100%;
}

.bx-wrapper {
  max-width: 1920px;

}

.bxslider {
  max-width: 1920px;
  padding: 0;
  position: fixed;

}


.bx-controls{
  display: none;
}

.content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  background: black;

  text-align: center;
}

.content .text{
  background: chocolate;
  height: 380px;
}

.text > h3 {
  text-align: center;
  color: #000;
  font-size: 60px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 50px 0;
}

.text > P {
  font-size: 25px;
  line-height: 40px;
}

.flexbox {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

}

.flexbox .item {
  margin: 0 auto;
  flex-basis: 23.3%;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}






.bener {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1920px;
}
.bener > img{
  max-width: 100%;
}


.content2 {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content2 > h3 {
  text-align: center;
  color: #000;
  font-size: 60px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 50px 0;
}

.content2 .item {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
.content2 .item .img{
  margin: 0 auto;
}
.content2 .item .img img {
}

.content2 .item .text {
  padding: 30px 0;
  box-sizing: border-box;
  text-align: left;
  background: red;
  margin: 0 auto;

  
}

.content2 .item .text>p:nth-child(1) {
  color: red;
}

.content2 .item .text>p:nth-child(2) {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 700;
}

.content2 .item .text>p>a {
  text-decoration: none;
  color: blue;
}



footer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2%;
  box-sizing: border-box;
  background: white;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

footer > div > h1 > a {
  color: black;
  text-decoration: none;
}

footer>div>p>a {
  color: black;
  text-decoration: none;
}

footer > div > h1 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10%;
}

footer > div > p {
  font-size: 15px;
  line-height: 160%;
}


/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1024px) {


}

/* 폰 */
@media screen and (max-width:767px) {
 
}

